.vs/*
.github/*
*.dll
*.exe
*.pdb
/SimpleGateway.Api/obj/*
/SimpleGateway.Api/bin/*
/SimpleGateway.Api/obj/**
/SimpleGateway.Api/obj/Debug/net10.0/*
/SimpleGateway.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/SimpleGateway.Api/obj/Debug/net10.0/SimpleGateway.Api.assets.cache
/SimpleGateway.AdminApi/obj
