@model SimpleGateway.Api.Models.GatewayEndpoint
<h2>Edit Endpoint</h2>
<form method="post" action="">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <div>
        <label>Service</label><br />
        <select name="ServiceId">
            <option value="">-- select --</option>
@foreach(var s in (IEnumerable<SimpleGateway.Api.Models.GatewayService>)ViewBag.Services) {
    if (s.Id == Model?.ServiceId) {
        <text><option value="@s.Id" selected="selected">@s.Name</option></text>
    } else {
        <text><option value="@s.Id">@s.Name</option></text>
    }
}
        </select>
    </div>
    <div>
        <label>Method</label><br />
        <input name="Method" value="@Model?.Method" />
    </div>
    <div>
        <label>Path</label><br />
        <input name="Path" value="@Model?.Path" />
    </div>
    <div style="margin-top:10px">
        <button type="submit">Save</button>
        <a href="/Endpoints">Cancel</a>
    </div>
</form>
