@model SimpleGateway.Api.Models.GatewayService
<h2>Delete Service</h2>
<div>
    Are you sure you want to delete the service "@Model.Name"?
</div>
<form asp-action="Delete" method="post">
    <button type="submit">Delete</button>
    <a href="/Services">Cancel</a>
</form>
