@model SimpleGateway.Api.Models.GatewayService
<h2>Edit Service</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@Model?.Id" />
    <div>
        <label>Name</label><br />
        <input name="Name" value="@Model?.Name" />
    </div>
    <div>
        <label>Url</label><br />
        <input name="Url" value="@Model?.Url" />
    </div>
    <div>
        <label>Path</label><br />
        <input name="Path" value="@Model?.Path" />
    </div>
    <div style="margin-top:10px">
        <button type="submit">Save</button>
        <a href="/Services">Cancel</a>
    </div>
</form>
